@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

:root {
    --cor-principal: #262223;
    --cor-azul-um: #056CF2;
    --cor-azul-dois: #0583F2;
    --cor-azul-tres: #0597F2;
    --cor-cinza: #F2F2F2;
}

body {
    background-color: var(--cor-principal);
}

#game-title {
    text-align: center;
    color: var(--cor-azul-um);
    font-size: 60px;
    padding-top: 50px;
    font-weight: 200;
}

main {
    width: 600px;
    height: 500px;
    background-color: var(--cor-cinza);
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#game-desc {
    text-align: center;
    padding: 15px;
    font-size: 20px;
}

#game-buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.buttons {
    width: 250px;
    height: 60px;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
    margin: 10px;
    font-size: 17px;
    border: none;
    background-color: var(--cor-azul-tres);
    cursor: pointer;
    font-weight: 500;
}

.buttons:hover {
    background-color: rgb(1, 122, 202);
    width: 270px;
    height: 62px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: var(--cor-azul-um);
    text-align: center;
    font-size: 30px;
    font-weight: 200;
    opacity: 0.2;
}

#in-game {
    display: none;
}

#game-options {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.game-options {
    width: 150px;
    height: 150px;
    margin: 10px;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

.game-options > img {
    width: 150px;
    height: 150px;
}

.game-options:hover > img{
    width: 155px;
    height: 155px;
}

#game-choices {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.game-choices {
    width: 250px;
    margin: 15px;
}

#player, #computer {
    text-align: center;
    font-size: 20px;
}

#player-choice-game, #computer-choice-game {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: var(--cor-azul-dois);
}

#button-back {
    position: fixed;
    left: 0;
    bottom: 12%;
    width: 100%;
    color: var(--cor-azul-um);
    text-align: center;
    font-size: 30px;
    display: none;
}

#back-start {
    width: 250px;
    height: 60px;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
    margin: 10px;
    font-size: 17px;
    border: none;
    background-color: var(--cor-azul-tres);
    cursor: pointer;
    font-weight: 500;
}

#back-start:hover {
    background-color: rgb(1, 122, 202);
    width: 270px;
    height: 62px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#game-result {
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 35%;
    width: 100%;
}

#match-result {
    font-size: 30px;
}

#game-points {
    display: flex;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 15%;
    width: 100%;
    justify-content: center;
}

#player-points, #computer-points {
    font-size: 50px;
    margin: 10px;
}

#separator {
    position: fixed;
    bottom: 22%;
    font-size: 20px;
}

#game-winner {
    display: flex;
    text-align: center;
    position: fixed;
    left: 0;
    width: 100%;
    justify-content: center;
}

#winner {
    position: fixed;
    bottom: 10%;
    font-size: 20px; 
}

#how-to-play {
    display: none;
}

#title-how-to-play {
    text-align: center;
    font-size: 30px;
    color: var(--cor-azul-tres);
    font-weight: 400;
    padding: 30px;
}

#how-to-play-desc {
    text-align: center;
    padding: 30px;
    font-size: 20px;
}

#game-stopwatch {
    position: absolute;
    bottom: 5%;
    right: 5%;
    font-size: 20px;
    opacity: 0.5;
    display: none;
}

@media (max-width: 650px) {
    main {
        width: 400px;
        max-height: 1000px;
    }

    .game-options {
        width: 100px;
        height: 100px;
    }

    .game-options > img {
        width: 100px;
        height: 100px
    }

    .game-options:hover > img{
        width: 115px;
        height: 115px;
    }

    .game-choices {
        width: 190px;
    }

    #game-desc {
        font-size: 16px;
    }

    #how-to-play-desc {
        font-size: 16px;
    }
}